log-distance-measures==2.1.0
pix-framework==0.14.2
ongoing-process-state==2.1.2
# Prosimos se instala desde repo clonado en ./Prosimos (rama short-term-simulation)
-e ../libraries-used/Prosimos
#git+https://github.com/AutomatedProcessImprovement/Prosimos@2.0.6
pandas==2.2.3
numpy==1.26.4
networkx==3.4.2
lxml==5.3.1
scikit-learn==1.6.1
tqdm==4.67.1 